/* --color1: #8c271eff;
--color2: #6d696aff;
--color3: #a5a5a5ff;
--color4: #d8dddeff;
--color5: #1e1e24ff; */

body {
  margin: 0 auto;
  background-color: #6d696aff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

main {
  height: 100%;
  background-color: whitesmoke;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Fira Sans Condensed', sans-serif;
}

#searchInput {
  margin-bottom: 50px;
}

#mediaCompare {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#mediaCompare img {
  max-height: 230px;
  max-width: 150px;
  padding-right: 5px;
  margin-bottom: 10px;
}

#movieRes, #bookRes {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 5px;
  width: 45%;
}

.descriptionDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: flex-start;
}

.descriptionDiv h4 {
  margin: 0;
}

/* DESKTOP STYLING BELOW */

@media screen and (min-width: 600px) {
  body {
    height: 100vh;
  }
  main {
    max-width: 75%;
  }


}