/* --color1: #8c271eff;
--color2: #6d696aff;
--color3: #a5a5a5ff;
--color4: #d8dddeff;
--color5: #1e1e24ff; */

body {
  margin: 0 auto;
  background-color: #6d696aff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  height: 100%;
  background-color: whitesmoke;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #8c271eff;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}

#searchInput {
  margin-bottom: 50px;
}

#mediaCompare {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#mediaCompare img {
  max-height: 160px;
  max-width: 100px;
  padding-right: 5px;
  margin-bottom: 10px;
}

#movieRes, #bookRes {
  border: solid #a5a5a5ff 1px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 5px;
  width: 45%;
}

.descriptionDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.descriptionDiv h4 {
  margin: 0;
}

#showBDets, #showMDets {
  background-color: #8c271eff;
  color: white;
  border-radius: 4px;
  height: 4em;
  margin-top: 30px;
  width: 65%;
  align-self: center;
}

/* I borrowed the concepts from the modal exercise to help create this modal */
#modal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 350px;
  width: 550px;
  border-radius: 8px;
  font-family: sans-serif;
}

#modal-textbox h1 {
  width: 100%;
}

#modal-textbox h1 {
  width: 98%;
}

#modalText {
  margin-left: 10px;
  max-width: 80%;
}

#modalClose {
  align-self: flex-end;
}

#modal-textbox button {
  align-self: flex-end;
  background-color: #6d696aff;
  color: white;
  border-radius: 5px;
  margin-right: 10px; 
  margin-top: 10px;
}

.hidden {
  display: none !important;
}

/* MOBILE STYLING BELOW */

@media screen and (max-width: 600px) {
  main {
    width: 100%
  }

}